body {
  margin: 0 auto;
  padding: 20px;
}

hr {
  margin: 30px 0;
}

.controls {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.container {
  padding: 40px;
  margin-top: 20px;
  width: 80%;
  border: 2px solid black;
}

.item {
  border: 1px solid #999;
  padding: 10px;
  margin: 5px;
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 1.5em;
}

/* Specific styles for grid display */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Specific styles for flex display */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* colors */
.red {
  background-color: darkred;
}
.blue {
  background-color: midnightblue;
}
.green {
  background-color: darkgreen;
}
.tomato {
  background-color: tomato;
}
.purple {
  background-color: rebeccapurple;
}
.peru {
  background-color: peru;
}
